.ai-image-node-wrapper {
  // Remove any default background
  background: transparent !important;

  &.ProseMirror-selectednode {
    > div {
      border-radius: var(--radius-xl);
      box-shadow: 0 0 0 2px var(--color-brand-primary);
      transition: all 150ms;
    }

    // When input is focused, remove the outer selection shadow
    &:focus-within {
      > div {
        box-shadow: none;
      }
    }
  }
}
