@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  --tt-toolbar-height: 44px;
  --tt-theme-text: theme('colors.default-font');

  .dark & {
    --tt-theme-text: theme('colors.neutral.100');
  }
}

body {
  font-family: theme('fontFamily.body');
  color: var(--tt-theme-text);
  font-optical-sizing: auto;
  font-weight: theme('fontSize.body.1.fontWeight');
  font-style: normal;
  padding: 0;
  overscroll-behavior-y: none;
}

html,
body {
  overscroll-behavior-x: none;
}

html,
body,
#root,
#app {
  height: 100%;
  background-color: theme('colors.default-background');
  
  .dark & {
    background-color: theme('colors.neutral.950');
  }
}

::-webkit-scrollbar {
  width: 0.25rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: color-mix(in srgb, theme('colors.neutral.400') 50%, transparent) transparent;
}

::-webkit-scrollbar-thumb {
  background-color: color-mix(in srgb, theme('colors.neutral.400') 50%, transparent);
  border-radius: theme('borderRadius.full');
}

::-webkit-scrollbar-track {
  background: transparent;
}

.tiptap.ProseMirror {
  font-family: theme('fontFamily.body');
}

// Important so the this does not override the editor behaviour
@media screen and (max-width: 480px) {
  .notion-like-editor-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }
}

.notion-like-editor-content {
  max-width: theme('screens.md');
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.notion-like-editor-content .tiptap.ProseMirror.notion-like-editor {
  flex: 1;
  padding: theme('spacing.2') 0 theme('spacing.4') 0;
}

// @media screen and (max-width: 480px) {
//   .notion-like-editor-content .tiptap.ProseMirror.notion-like-editor {
//     padding: 0.5rem 0 30vh 0;
//   }
// }

// Spinner
.spinner-container {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: theme('spacing.2');

    svg {
      animation: spin 1s linear infinite;
      height: theme('spacing.5');
      width: theme('spacing.5');

      circle {
        opacity: 0.25;
        stroke: currentColor;
        stroke-width: 4;
      }

      path {
        opacity: 0.75;
        fill: currentColor;
      }
    }

    .spinner-loading-text {
      text-align: center;
      font-size: theme('fontSize.body.0');
      color: theme('colors.subtext-color');
    }
  }
}
